<pagination-controls style="display: flex;justify-content: center;" (pageChange)="pageChange($event)"></pagination-controls>
<select [(ngModel)]="folder" (change)="pageChange(1)">
  <option *ngFor="let folder of folders"  [ngValue]="folder">{{folder}}</option>
</select>
<table class="table">
  <thead>
  <tr>
    <th>Filename</th>
    <th>Height</th>
    <th>Width</th>
    <th>Walls</th>
    <th>Boxes</th>
    <th>Goals</th>
    <th>Zip</th>
  </tr>
  </thead>
  <tr *ngFor="let level of levels | paginate: {itemsPerPage: pageSize, currentPage: curPage, totalItems: total}">
    <td><a [routerLink]="['/games/state/' + folder + '/' + level._id]">{{level.relativePath}}</a></td>
    <td>{{level.height}}</td>
    <td>{{level.width}}</td>
    <td>{{level.countWalls}}</td>
    <td>{{level.countBoxes}}</td>
    <td>{{level.countGoals}}</td>
    <td><a href="{{level.fileUrl}}">FILE.lvl</a></td>
  </tr>
</table>
