<pagination-controls style="display: flex;justify-content: center;" (pageChange)="pageChange($event)"></pagination-controls>
<p>Count: {{total | number}}</p>
<table class="table">
  <thead>
  <tr>
    <th>GameID</th>
    <th>Description</th>
    <th>Level</th>
    <th>Date</th>
  </tr>
  </thead>
  <tr *ngFor="let pokoban of pokobans | paginate: {itemsPerPage: pageSize, currentPage: curPage, totalItems: total}">
    <td><a [routerLink]="[pokoban._id]" [queryParams]="{folder:'saves'}">{{pokoban._id}}</a></td>
    <td>{{pokoban.description}}</td>
    <td>{{pokoban.level}}</td>
    <td>{{pokoban.date | date: 'medium'}}</td>
  </tr>
</table>
